html {
  font-family: "Open Sans", sans-serif;
  font-family: Roboto, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  border-bottom: 1px solid #D1D1D1;
}

.bord {
  border-color: #D1D1D1;
}

.btn {
  background-color: #D1D1D1;
  color: #fff;
}

.form {
  background-color: #fff;
}

.btn:hover {
  background-color: #f2f2f2;
}

.box {
  border-color: #D1D1D1;
}

@media only screen and (min-width: 60em) {

  .name {
    padding-right: 1rem;
  }

  .masthead-title {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

@media only screen and (min-width: 90em) {

  .name {
    padding-right: 1rem;
  }

}

.section-dark {
  background-color: #D1D1D1;
  color: #000000;
}

.nav a:focus {
  outline-color: #fff;
}

.section-light {
  background-color: #fafafa;
  color: #000000;
}

.section-bg {
  background-size: cover;
}

.btn:not(.btn-ghost) {
  background-color: #8d483b;
  border-color: #8d483b;
}

.btn:not(.btn-ghost):hover {
  background-color: #e88681;
}

.btn-ghost:hover {
  background-color: #4574EB;
}

.masthead-title {
  position: relative;
  z-index: 2;
}

.masthead-title::after {
  content: attr(data-shadow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  transform: translate(.07em, .07em);

  color: #ABD2EB;
}

.masthead a {
  border-bottom: .2em solid #000000;

  color: #000000;
  text-decoration: none;
}

.masthead a:hover {
  background-color: #4574EB;
}
